[submodule "src/external/template-conversion"]
	path = template-conversion
	url = https://github.com/earthquake-alert/template-conversion.git
[submodule "earthquake-map"]
	path = earthquake-map
	url = https://github.com/earthquake-alert/Earthquake-map.git
