[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
tox = "*"
autopep8 = "*"

[packages]
selenium = "*"
jinja2 = "*"
chromedriver-binary = "==83.0.4103.39.0"
requests = "*"
schedule = "*"
fire = "*"
xmltodict = "*"
discord-webhook = "*"
cairosvg = "*"
twitter = "*"

[requires]
python_version = "3.6"
